:root{
    --navbg: url("soft-blue-watercolor-abstract-background_3590-231.png");
    --navepri: #11506b;
    --navsec: #3ca0e7;
    --main: #648491;
    --footerbg: #d3e3f2;
    --fieldset: #f1f8fe;
    --bg: white;
}
.darkmode {
    --navbg: url("wallpaperflare.com_wallpaper.jpg");
    --navepri: #8ba6b2;
    --navsec: #6698bb;
    --main: #6397b1;
    --footerbg: #162c40;
    --fieldset: #00223e;
    --bg: #121829;
}


body {
    width: auto;
    font-family: Courier New;
    font-size: 100%;
    background-color: var(--bg);
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

header {
    grid-area: header;
    background-image: var(--navbg);
    background-size: cover;
    height: auto;
    width: 100%;
    padding: 16px;
    text-align: center;
    font-size: 35px;
    position: fixed;
    z-index: 1;
}
#theme-switch{
background-color: transparent;
border-radius: 50%;
border-color: transparent;
display: flex;
}

#theme-switch img:last-child{
display: none;
}

.darkmode #theme-switch img:first-child{
display: none;
}

.darkmode #theme-switch img:last-child{
display: block;
}

main {
    grid-area: main;
    margin-left: 15%;
    width: 70%;
    padding: 10px;
    color: var(--navepri);
    display: grid;
    text-align: center;

    img {
        height: 300px;
        width: auto;
        object-fit: cover;
    }
}

.aboutme {
display: flex;
flex-direction: row;
}

.side-r {
color: var(--main);
text-align: center;    
}



nav {
    visibility: visible;
    &.primary-navigation {
        margin: 0 auto;
        display: block;
        
        text-align: center;
        font-size: 20px;

        ul li {
            list-style: none;
            margin: 0 auto;
            border-left: 2px solid var(--navsec);
            display: inline-block;
            padding: 0 30px;
            position: relative;
            text-decoration: none;
            text-align: center;
            font-family: Courier New;
        }

        li a {
            color: var(--navepri);
        }

        li a:hover {
            color: var(--navsec);
        }

        li:hover {
            cursor: pointer;
        }

        ul li ul {
            visibility: hidden;
            opacity: 0;
            position: absolute;
            padding-left: 0;
            left: 0;
            display: none;
            background: white;
        }

        ul li:hover > ul,
        ul li ul:hover {
            visibility: visible;
            opacity: 1;
            display: block;
            min-width: 250px;
            text-align: left;
            padding-top: 20px;
            box-shadow: 0px 3px 5px -1px #ccc;
        }

        ul li ul li {
            clear: both;
            width: 100%;
            text-align: left;
            margin-bottom: 20px;
            border-style: none;
        }

        ul li ul li a:hover {
            padding-left: 10px;
            border-left: 2px solid var(--navsec);
            transition: all 0.3s ease;
        }
    }
}


a {
    text-decoration: none;

    &:hover {
        color: var(--navsec);
    }
}

ul li ul li a {
    transition: all 0.5s ease;
}

.below {
    box-sizing: border-box;
    margin-top: 0;
    padding-top: 100px;

    transition: 0.3s;
}

footer {
    background-color: var(--footerbg);
    color: #2d677e;
    width: 100%;
    grid-area: footer;
    font-family: Courier New;
}

.hide {
    opacity: 0;
}

.hide:hover {
    opacity: 80%;
}

fieldset {
    background-color: var(--fieldset);
    width: 50px;
    margin-bottom: 5px;
    margin-left: 35%;
    text-align: center;
}

legend {
    background-color: var(--main);
    color: white;
    padding: 5px 10px;
}

input,
textarea {
    font-family: Courier New;
    margin: 5px;
}

.sch:hover {
    opacity: 80%;
    transition-duration: 4ms;
}



@media all  and (max-width: 900px) {

    img.side-r {
        height: 50px;
        width: auto;
    }

    fieldset {
        width: auto;
        margin: 0;
    }
    nav{
        visibility: visible;}
}

@media all and (max-width: 600px) {

    body{
        width: 500px;
        
    }
    .aboutme {
        flex-direction: column;}
        #personalworks{
            display: flex;
            flex-flow:  row wrap;
            img {
                width: 100px;
                height: auto;
                justify-content: center;
}
            video {
                width: 200px;
                height: auto;
                justify-content: center;
}
}
    #schoolworks {
        img {
                width: 150px;
                height: auto;
                justify-content: center;
}
    }
    

    footer{
width: 480px;
    fieldset {
    max-width: 100px;
    margin: 10px;
    }

}   
    

}
    
.section {
            display: none;
            max-width: 1200px;
            margin: 0 auto;
            padding: 2rem;
        }

        .section.active {
            display: block;
        }
    
