    body{
background-color: white;
font-family: Courier New;
font-size: 100%;
margin: 0px 0px 0px 0px;
display: grid;
grid-template-rows: auto 1fr auto;
grid-template-areas: 
"header"
"main"
"footer";

        
    }



header {
grid-area: header;
background-image: url("Imgs/soft-blue-watercolor-abstract-background_3590-231.png");
background-size: cover;
height: auto;
width: 100%;
padding: 16px;
text-align: center;
font-size: 35px;
color: #648491;
position:fixed
    }

    main{
grid-area: main;
margin-left:15%;
width:70%; 
background-color: white;
padding: 10px;
color: #11506b;
display:grid;        
text-align: center;
    
        img {
height: 300px;
width: auto;
object-fit: cover;
            }     
    }


    .sider {
width: 20%;
float: left;
padding: 20px;
text-align: center;
font-style: italic;
background-color: white; 
color: #648491;
    }

    .sidel {
width: 75%;
float: right;
padding: 5px;
text-align: left;

background-color: white; 

}

    nav {
&.primary-navigation {
margin: 0 auto;
display: block;

text-align: center;
font-size: 20px;

ul li {
  list-style: none;
  margin: 0 auto;
  border-left: 2px solid #3ca0e7;
  display: inline-block;
  padding: 0 30px;
  position: relative;
  text-decoration: none;
  text-align: center;
  font-family: Courier New;
}

li a {
color: #11506b;
}

li a:hover {
  color: #3ca0e7;
}

li:hover {
  cursor: pointer;
}

ul li ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
padding-left: 0;
  left: 0;
  display: none;
  background: white;
}

ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
  min-width: 250px;
  text-align: left;
  padding-top: 20px;
  box-shadow: 0px 3px 5px -1px #ccc;
}

ul li ul li {
  clear: both;
  width: 100%;
  text-align: left;
  margin-bottom: 20px;
  border-style: none;
}

ul li ul li a:hover {
  padding-left: 10px;
  border-left: 2px solid #3ca0e7;
  transition: all 0.3s ease;
}
}
}

a {

text-decoration: none;

&:hover {
    color: #3CA0E7;
}

}

ul li ul li a { transition: all 0.5s ease; }

.below{
    margin-top: 0;
padding-top: 98px;

transition: .3s;
}

footer {
background-color: #d3e3f2;
color: #2d677e;
width: auto;
    padding-left: 10px;
grid-area: footer;
font-family: Courier New;

}

.hide {
opacity: 0;
}

.hide:hover {
opacity: 80%;
}

fieldset {
  background-color: #f1f8fe;
    width: 50px;
    margin-bottom: 5px;
     margin-left: 32%;
   text-align: center;
}

legend {
  background-color: #648491;
  color: white;
  padding: 5px 10px;
}

input, textarea {
    font-family: Courier New;
  margin: 5px;
}

.sch:hover {
opacity: 80%;
transition-duration: 4ms;
}

