body{
    background-color: #001155;
    color: aliceblue
        
}
img{
        width: 500px;
    }

/*------------------------------------------
  Responsive Grid Media Queries - 1280, 1024, 768, 480
   1280-1024   - desktop (default grid)
   1024-768    - tablet landscape
   768-480     - tablet 
   480-less    - phone landscape & smaller
--------------------------------------------*/
@media all and (min-width: 1024px) and (max-width: 1280px) { 
    body{
        background-color: #2f0072;
        transition: background-color 0.5s, color 0.5s; /* Smooth transition */
    }
    img{
        width: 400px;
    }
}
 
@media all and (min-width: 768px) and (max-width: 1024px) { 
    body{
        background-color: #2d2aae;
        transition: background-color 0.5s, color 0.5s; /* Smooth transition */
    }
    img{
        width: 300px;
    }
}
 
@media all and (min-width: 480px) and (max-width: 768px) { 
    body{
        background-color: #7591e9;
        transition: background-color 0.5s, color 0.5s; /* Smooth transition */
    }
    img{
        width: 200px;
    }
}
 
@media all and (max-width: 480px) { 
    body{
        background-color: #a6e3ff;
        transition: background-color 0.5s, color 0.5s; /* Smooth transition */
        color: #405883;
    }
        img{
            visibility: hidden;
        }
}
